@import com.scalabeer._
@(optuser: Option[UserGrid], beers: Seq[(BeerGrid, Option[Int])])
@default(optuser){

<div>
    <H2> List of Beers </H2>
    @if(beers.isEmpty) {
    <div>
        No beers yet.
    </div>
    } else {
    <table class="table table-responsive table-custom" ng-controller="listBeerCtrl">
        <thead>
        <th>name</th>
        <th>type</th>
        <th>grade</th>
        @optuser.map( _ => <th>your grade</th> )
        </thead>
        @for((beer, userGrade) <- beers) {
        <tr>
            <td><a href="@routes.Application.beerScreen(beer.URI)">@beer.name</a></td>
            <td>@beer.beerType</td>
            <td>@beer.averageGrade</td>
            @optuser.map{ _ =>
            <td class = "grade@beer.URI">
            @userGrade.fold{
                <button class="btn btn-warning " ng-click='grade(@beer.URI, "@beer.name")'>Grade @beer.name</button>
            }{ grade =>
                @grade
            }
            </td>
            }
        </tr>
        }
    </table>
</div>
}
}
