@import com.scalabeer._
@(optuser: Option[UserGrid], userReport: UserReport.Result)
@default(optuser){
   @if(Option(userReport.userGrid).isEmpty){<div class="nousertoshow">found no user to show</div>}
   @Option(userReport.userGrid).map{ userGrid =>
        Showing page for user:
        <h2 class="username">
                    @userGrid.name
        </h2>
        <div>
            Added beers
            <ul>
                @for(beer <- userGrid.beers) {
                <li>@beer.info.name</li>
            }
            </ul>

            Average grade received for addie: @userGrid.averageBeerAddedGrade
        </div>

        <div>
            Given grades
            <ul>
                @for(grade <- userReport.userGrades) {
                   <li>@grade.beer.info.name @grade.grade</li>
                }
            </ul>
            Average grade given for addie: @userGrid.averageGivenGrade
        </div>
    }
}
