@import com.scalabeer._
@(optuser: Option[UserGrid], userReportOpt: Option[UserReport.Result])
@default(optuser){
    @if(userReportOpt.isEmpty){<div class="nousertoshow">found no user to show</div>}
    @userReportOpt.map{ userReport =>
        Showing page for user: <h2 class="username">@userReport.userGrid.name</h2>
        <div>
            Added beers
            <ul>
                @for(beer <- userReport.userGrid.beers) {
                <li>@beer.info.name</li>
            }
            </ul>

            Average grade received for addie: @userReport.userGrid.averageBeerAddedGrade
        </div>

        <div>
            Given grades
            <ul>
                @for(grade <- userReport.userGrades) {
                   <li>@grade.beer.info.name @grade.grade</li>
                }
            </ul>
            Average grade given for addie: @userReport.userGrid.averageGivenGrade
        </div>
    }
}
