html {
  overflow-y: scroll;
}
body {
  background-color: #d7a812;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 27px;
  font-weight: 300;
}
h1 {
  font-weight: 800;
  color: #3299bb;
}
h2,
h3,
h4 {
  font-weight: 700;
}
::selection {
  background: #d7a812;
  color: #ffffff;
}
::-moz-selection {
  background: #d7a812;
  color: #ffffff;
}
img {
  max-width: 100%;
}
small {
  font-size: 15px;
}
strong {
  font-weight: 700;
}
.strong {
  font-weight: 800;
}
.thin {
  font-weight: 300;
}
label {
  font-size: 15px;
}
a {
  color: #ee9b20;
}
a:hover,
a:active,
a:focus {
  color: #9c620c;
  text-decoration: none;
}
a.alternate {
  color: #3299bb;
}
a.alternate:hover {
  color: #1c576b;
}
.pt-20 {
  padding-top: 20px;
}
.feat-box {
  background-color: #d7a812;
  border-radius: 4px;
  padding: 20px;
  color: #ffffff;
}
.cta-btn {
  width: 100%;
  max-width: 300px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 16px 10px 17px;
  margin-bottom: 10px;
}
.cta-btn .glyphicon {
  font-size: 21px;
  margin: 0 10px;
}
.cta-btn.primary {
  background-color: #ee9b20;
  -webkit-box-shadow: 0 5px #cb8010;
  -moz-box-shadow: 0 5px #cb8010;
  box-shadow: 0 5px #cb8010;
  border-bottom: 1px solid #f2b04f;
  text-shadow: 1px 1px 1px #cb8010;
}
.cta-btn.primary:hover,
.cta-btn.primary:focus {
  background-color: #e38f11;
  color: #ffffff;
  outline: none;
}
.cta-btn.primary:active {
  background-color: #cb8010;
  color: #ffffff;
  border-bottom: none;
}
.cta-btn.alt {
  background-color: #3299bb;
  -webkit-box-shadow: 0 5px #277893;
  -moz-box-shadow: 0 5px #277893;
  box-shadow: 0 5px #277893;
  border-bottom: 1px solid #50b0d0;
  text-shadow: 1px 1px 1px #277893;
}
.cta-btn.alt:hover,
.cta-btn.alt:focus {
  background-color: #2d89a7;
  color: #ffffff;
  outline: none;
}
.cta-btn.alt:active {
  background-color: #277893;
  color: #ffffff;
  border-bottom: none;
}
.header {
  padding: 20px 0 10px;
}
.header-link {
  display: inline-block;
  margin: 0 6px;
  color: #424242;
}
.header-link:hover,
.header-link:active,
.header-link:focus {
  color: #ffffff;
  outline: none;
  text-decoration: none;
}
.logo {
  max-width: 390px;
  display: inline-block;
  margin: 10px;
}
.main {
  border-radius: 4px;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 0 10px #c0960e;
  -moz-box-shadow: 0 0 10px #c0960e;
  box-shadow: 0 0 10px #c0960e;
  border: solid 1px #fff;
  padding: 40px 20px;
}
.cta-btns {
  padding: 30px 10px;
}
.footer {
  padding: 40px 0;
  color: #685107;
}
.footer p,
.footer a {
  color: #685107;
}
.footer a:hover {
  color: #382c04;
}
.center-line {
  border-top: 1px solid #c19815;
}
.center-line span {
  margin-top: -15px;
  background-color: #d7a812;
  display: inline-block;
  padding: 0 20px;
}
.table-custom > thead > tr > th {
  background-color: #d7a812;
  color: #ffffff;
  border-bottom: 3px solid #a8830e;
  padding: 15px;
}
.table-custom > thead > tr > th:first-child {
  border-radius: 4px 0 0 0;
}
.table-custom > thead > tr > th:last-child {
  border-radius: 0 4px 0 0;
}
.table-custom > tbody > tr > td,
.table-custom > tfoot > tr > td {
  padding: 15px;
  border-top: 1px solid #f2f2f2;
  background-color: #ffffff;
}
.table-custom > tbody > tr:last-child > td {
  border-bottom: 3px solid #d9d9d9;
}
.table-custom > tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 4px;
}
.table-custom > tbody > tr:last-child > td:last-child {
  border-radius: 0 0 4px 0;
}
